.oswald-title {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}


.page-title {
    margin-left: 15px;
}
.description {
    display: flex;
    justify-content: center;
    margin: 50px 20px 0px 20px;
    
}

.giphy-css {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.search-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.search-element {
    margin-left: 4px;
    margin-right: 4px;
}

.number-input {
    width: 100px;
}

img {
    max-width: 200px;
    margin: 10px;
}
