img {
    max-width: 250px;
    max-height: 200px;
    margin: 10px;
}

body {
    background-color: #000000;
}

.oswald-title {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.description {
    color: white;
    display: flex;
    justify-content: center;
    margin: 50px 20px 0px 20px; 
}

.giphy-css {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.search-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.search-element {
    margin-left: 4px;
    margin-right: 4px;
}

.number-input {
    width: 100px;
}



@media (max-width: 480px){
    .search-controls {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .description {
        margin-top: 10px;
    }

    .search-element {
        margin-bottom: 7px;
    }

    .giphy-css {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .btn {
        width: 100px;
    }
}